Django==6.0.5
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.15

bcrypt==5.0.0

mongoengine==0.29.3
pymongo==3.12.0
dnspython==1.16.0

python-dotenv==1.2.2

gunicorn==26.0.0
whitenoise==6.12.0

django-environ==0.13.0